---
layout: default
title: Projects - William Lindner, 2 n's.
---

<div id="projects">
  {% for project in site.projects %}
    <div class="project">
      {% if project.link %} <a style="display:block" target="_blank" href="{{ project.link }}"> {% endif %}
      <div class="thumbnail" style="background-image: url('/img/projects/{{ project.thumbnail }}')"></div>
      <h2>{{ project.title }}</h2>
      {% if project.link %} </a> {% endif %}
      <h4>{{ project.type }}</h4>
      <p>{{ project.description }}</p>
      {% for tag in site.tags %}
        {% assign tagName = tag | first %}
        {% if tagName == project.tag %}
          {% assign posts = tag | last %}
          <a class="tag-posts" href="/tags/{{ project.tag }}">{{ posts | size | pluralize: "blog post" }}</a>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
