/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

$royal: #366ddc;
$sapphire: #2955ae;
$midnight: #00527e;
$shadow: #0e2451;
$plum: #583452;
$berry: #a24352;
$ruby: #ec5252;
$tangerine: #f2744c;
$creamsicle: #f99645;
$solar: #ffb83f;
$store: #ced1d6;
$snuggles: #829fd9;

@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body { height: 100%; }

html {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  background-color: #FFF;
  font: 12px 'Ubuntu', sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 0 0 1.5em 0; }

a         { color: #00a; display: inline-block; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

iframe {
  display: block;
  margin: 16px auto;
}

img, video, canvas {
  max-width: 100%;
  height: auto;
}

blockquote {
  background: #f9f9f9;
  font-style: italic;
  font-size: 1.2em;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

.left {
  float: left;
}

.right {
  float: right;
}

@media all and (max-width: 500px) {
  .left {
    float: none;
  }

  .right {
    float: none;
  }
}

#wrapper {
  min-height: 100%;
  position: relative;
}

.avatar {
  float: right;
  margin-left: 40px;
  margin-bottom: 40px;
  border-radius: 50%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin: 0 auto;
  
  li {
    line-height: normal;
    margin-left: 20px;
    margin-bottom: 40px;

    a {
      font-size: 24px;
      color: $shadow;
      text-decoration: none;
    }

    span {
      color: #aaa;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  width: 100%;
  line-height: 1.5em;
  text-align: left;
  padding: 2em;
  font-size: 90%;
  padding-bottom: 60px;
}

@media all and (min-width: 830px) {
  .site {
    width: 830px;
    margin: 0 auto;
    text-align: justify;
    font-size: 115%;
  }
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

header a.extra {
  color: #aaa;
  margin-left: 2em;
  font-style: italic;

  img {
    margin-bottom: 5px;
    vertical-align: middle;
  }
}

header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

footer {
  height: 60px;
  width: 100%;
  font-size: 80%;
  color: #666;
  background-color: white;
  margin-top: 2em;
  overflow: hidden;
  text-transform: uppercase;

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  .center {
    max-width: 830px;
    margin: 0 auto;
    border-top: 1px solid $store;
  }

  .contact {
    color: $store;
    letter-spacing: 0.2em;
    line-height: 32px;

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

@media all and (max-width: 830px) {
  footer {
    margin: 0 20px;
    width: calc(100% - 40px);

    .contact {
      line-height: normal;
    }
  }
}

@media all and (max-width: 500px) {
  header {
    height: 80px;
  }

  footer .contact {
    text-align: center;
  }
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* standard */
  pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  ul, ol {
    margin-left: 1.35em;
  }

  code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
  }

  pre code {
    border: none;
  }

  /* terminal */
  pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
  }

  pre.terminal code {
    background-color: #333;
  }
}

/*****************************************************************************/
/*
/* Social Share Button
/*
/*****************************************************************************/
.social-share {
  float: right;
  position: relative;
  outline: 0;
  cursor: pointer;
  
  .block {
    width: 44px;
    height: 44px;
    display: block;
    background-color: #ced1d6;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .items {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .twitter {
    transition: all 0.2s;
    transition-delay: 0.0s;
  }

  .email {
    transition: all 0.2s;
    transition-delay: 0.05s;
  }

  .facebook {
    transition: all 0.2s;
    transition-delay: 0.1s;
  }
}

/*****************************************************************************/
/*
/* Projects
/*
/*****************************************************************************/

#projects {
  margin: 0 auto;
}

.project { 
  background-color: #f3f5f8;
  color: #7f8389;
  width: 235px;
  margin-bottom: 20px;

  a {
    color: inherit;
    text-decoration:none;
  }

  img, .thumbnail {
    width: 235px;
    height: 176px;
    background-color: #e1e4e9;
    background-position: center;
    background-repeat: no-repeat;
  }

  h2 {
    font-weight: 700;
    font-size: 24px;
    padding: 27px 30px 3px 30px;
    letter-spacing: -0.025em;
  }

  h4 {
    padding: 0 30px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  p {
    margin: 0;
    padding: 20px 30px 40px 30px;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    letter-spacing: -0.025em;
  }

  .tag-posts {
    position: absolute;
    bottom: 10px;
    left: 30px;
  }
}

header {
  height: 120px;
  width: 100%;
  background: #f3f5f8;
  position: relative;
  transform-style: preserve-3d;

  a {
    font-weight: bold;
    text-decoration: none;
  }

  .links {
    background-color: #f3f5f8;
    display: inline-block;
    z-index: 1;
    @include vertical-align;
  }

  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  circle, line, path {
    fill: none;
    stroke: white;
    transform-origin: center center;

    /*Set our animation play state to paused initially */
    animation-play-state: paused!important;
  }

  circle {
    stroke-width: 2px;
  }

  line {
    stroke-width: 3px;
  }

  path {
    stroke-width: 2px;
    stroke-linecap: round;
  }

  .playing {
    animation-play-state: running!important;
  }
}

@keyframes growShrink {
  from { transform: none; }
  50% { transform: scale(1.5); }
  to { transform: none; }
}

@keyframes spin {
  from { transform: none; }
  50% { transform: rotate(360deg); }
  to { transform: none; }
}

@keyframes lineDisappear {
  from { stroke-dashoffset: null; }
  50% { stroke-dashoffset: 50; }
  to { stroke-dashoffset: null; }
}

@keyframes lineCrawl {
  from { stroke-dashoffset: null; }
  50% { stroke-dashoffset: 0; }
  to { stroke-dashoffset: null; }
}
