---
layout: default
comments: true
---
<time datetime="{{ page.date | xmlschema }}">{{ page.date | date: "%d %b, %Y" }}</time> &raquo; <a href="{{ page.url }}">{{ page.title }}</a>
<br />
<br />
<div id="post">
{{ content }}
</div>

<a href="https://twitter.com/share" class="twitter-share-button" data-via="wlindner">Tweet</a>

<!-- Google + -->
<p><g:plusone size="medium"></g:plusone></p>

<script type="text/javascript" src="http://www.reddit.com/buttonlite.js?i=2&styled=off&url=http://williamlindner.com{{ page.url }}&newwindow=1"></script>

{{ if page.comments }}

<div id="comments">
	<h1>Comments</h1>
	<br />

	<div id="disqus_thread"></div>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>

{{ endif }}